<div class="md-card-title left-align">
    <div class="md-card-title-text">
        <span class="md-headline">Register Now</span>
        <span class="md-subhead no-padding">Create your account and enjoy</span>
    </div>
</div>
<div class="md-card-content left-align">
  <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "md-form col s12", :novalidate => true}  do |f| %>
    <%= f.input :email, :required => true, :label_html => { :class => "color-white" }, :input_html => { :autocomplete => "off", :autofocus => false, :hint => false, :class => "color-asbestos" }, :icon => "mail_outline", :wrapper_html => { :class => "md-icon-float md-icon-left bg-transparent" } %>
    <%= f.input :username, :required => true, :label_html => { :class => "color-white" }, :input_html => { :autocomplete => "off", :autofocus => false, :hint => false, :class => "color-asbestos" }, :icon => "perm_identity", :wrapper_html => { :class => "md-icon-float md-icon-left bg-transparent" } %>
    <%= f.input :password, :required => true, :label_html => { :class => "color-white" }, :icon => "lock", :input_html => { :autocomplete => "off", :hint => false, :class => "color-asbestos" }, :wrapper_html => { :class => "md-icon-float md-icon-left bg-transparent" } %>
    <%= f.input :password_confirmation, :required => true, :label_html => { :class => "color-white" }, :icon => "lock", :input_html => { :autocomplete => "off", :hint => false, :class => "color-asbestos" }, :wrapper_html => { :class => "md-icon-float md-icon-left bg-transparent" } %>

    <div class="form-actions">
      <%= f.button :button, :class => "md-button" do %>
        Sign up
      <% end %>
    </div>
  <% end %>
  <div class="right-align">
    <span class="md-caption">
      Already have an account?
      <%= link_to "Log in", new_session_path(resource_name), :class => "md-link" %>
    </span>
  </div>
</div>
