<h2>Sign up</h2>

<%#= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "md-form col s12", :novalidate => true}  do |f| %>

  <%#= f.error_notification %>
  <%= f.input :email, :required => true, :input_html => { :autocomplete => "off", :autofocus => false, :hint => false }, :icon => "person_outline", :wrapper_html => { :class => "md-icon-float md-icon-left" } %>
  <%= f.input :password, :required => true, :icon => "lock", :input_html => { :autocomplete => "off", :hint => false }, :wrapper_html => { :class => "md-icon-float md-icon-left" } %>
  <%= f.input :password_confirmation, :required => true, :icon => "lock", :input_html => { :autocomplete => "off", :hint => false }, :wrapper_html => { :class => "md-icon-float md-icon-left" } %>

  <div class="form-actions">
    <%= f.button :button, :class => "md-button" do %>
      Sign up
    <% end %>
  </div>

<% end %>

  <%= javascript_tag type: "text/javascript" do -%>
    const demolang = $('#demolng')
    demolang.on('click', (event) => {
      event.preventDefault()
      console.log(event)
    })
  <% end -%>

<%= render "devise/shared/links" %>
